.webcam {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 100px;
  z-index: 1;
}

.sidebarActions {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 1;
}

.stickyBottom {
  position: sticky !important;
  right: 0;
  left: 0;
  bottom: 0;
}

.messageList {
  height: 100vh;
  overflow-y: auto;
}
